
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* body:before { content: ""; background-image: url("my-image.jpg"); background-size: cover; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 0.5; } */


body {
  background: linear-gradient(-45deg, #db4214,#d3259f, #ffffff, #889da5, #8323a0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  overflow-x: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* .brand {
background-color: rgb(49, 45, 36);
border-radius: 10px;
} 

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav {
  color: #e1e5eb;
}
.navbar-brand {
  white-space: nowrap; 
}
.nav_link {
  font-weight: bold;
  color: rgb(243, 241, 241);
  background-color: #212127;
  margin-inline:5px;
  padding: 22px;
  border-radius: 10px;
}
.nav_link:hover {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  background-color: #000000;
  box-shadow: 0 5px 5px #18067c;
  border-radius: 10px;

  transition: 0.5s ease;
  transform: scale(1.05);
} */


nav {
  /* background-color: #333; */
  color: #fff;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 40px; /* Adjust as needed */
  margin-right: 10px;
}

nav ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
    background-color: #5d5b6b;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  box-shadow: 0 5px 5px #18067c;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 25px;
  font-weight: bold;
  transition: 0.5s ease;
}

.menu-icon {
  display: none; 
  cursor: pointer;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: flex-start;
  }
  
  nav .logo img {
    margin-bottom: 10px;
  }
  
  nav ul {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
    background-color: #333;
    z-index: 1000;
  }
  
  nav ul.open {
    display: flex;
  }
  
  nav ul li {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  
  .menu-icon {
    display: block;
  }
}

@media  (max-width: 968px) {
  .certificate{
    display: flex;
    flex-direction: column;
  }
}
.glow {
  text-shadow: 0 0 0.5em #fff, 0 0 1.5em #007bff; /* Add subtle glow effect (optional) */
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    margin-inline: 2px;
    padding: 2px;
    background: transparent;
    border: 1px solid rgb(71, 64, 64);
    border-radius: 5px;
    background: rgb(59, 228, 219);
    color: aliceblue;
    text-decoration: none;
    transition: .3s ease;
  }

  .view-btn:hover, .social-media a:hover{
    background: rgb(2, 162, 255);
    color: #eeeeee;
    box-shadow: 0 0 20x rgb(224, 12, 12);
  }

  .download_btn{
    background-color: #0ebaee;
    font-size: 13px;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 20px #0e0c18;
    border-radius: 10px;
  }
  
  .download_btn:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
    box-shadow: 0 5px 5px #18067c;
    border-radius: 40px;
    font-weight: bold;
    transition: 0.5s ease;
  }


.profile-pict {
  max-width: 180px;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: 0 0 10px #1fafc2;
  margin-top: 30px;
}

/* .card-text {
  width: 600px;
  font-size: 0.9rem;
}  */
.profile-pict img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.profile-pict:hover {opacity: 0.7;}



.details-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37143a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
} 

.active, .accordion:hover, .accordion1:hover {
  background-color: #249c9c;
}

.accordion1::after, .accordion:after {
  color: #e7b5b5;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.cardor {
  width: 900px;
}

.sectionz {
  display: inline-block;
  color: rgb(7, 191, 236);
  font-size: 25PX;
  font-weight: 700;
  padding: 10px;
  border-bottom: rgb(170, 18, 157) solid;
  border-width: 1px;
  width: 100%;
  background-color: #323e41;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  align-items: stretch;
}

.Educatz {
  display: inline-block;
  color: rgb(7, 191, 236);
  font-size: 25PX;
  font-weight: 700;
  padding: 10px;
  border-bottom: rgb(170, 18, 157) solid;
  border-width: 1px;
  width: 100%;
  background-color: #323e41;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
  align-items: stretch;
}


.projectz {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: rgb(7, 191, 236);
  font-size: 25PX;
  font-weight: 700;
  padding: 10px;
  border-bottom: rgb(170, 18, 157) solid;
  border-width: 1px;
  width: 70%;
  background-color: #323e41;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  align-items: stretch;
}


button:hover {
  background-color: wheat;
  color: darkblue;
}

 .resume  > div > p {
  font-size: 11px;
 }


 .round{
  border-radius: 4px;
  margin-top: -48px;
}

.link-text{

  color: #221d1d;
  text-decoration: none;
  padding: 1px;
  border: 2px solid ;
  border-radius: 30px;
}


.link-text:hover{
  background-color: rgb(25, 19, 77);
  color: rgb(233, 229, 229);
}


.glow {
  font-size: 16px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.Senio_rglow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}
.accordionM {
  color: rgb(216, 101, 101);
}

.accordionM .containerM {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
.acordionM .labelz {
  position: relative;
  /* padding: 10px 0; */
  font-size: 15px;
  color: black;
  cursor: pointer;
}

.accordionM .labelz::before {
  contentz: '+';
  color: black;
  position: absolute;
  padding:0 7px ;
  top: 50%;
  left: 150px;
  font-size: 18px;
  transform: translateY(-50%);
  border: 1px solid black;
  border-radius: 20px;
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordionM .contentz {
  color: #fff;
  height: 0;
  font-size: 15px;
  overflow: hidden;
  transition: 0.5s;
}



/* Unhides the content part when active. Sets the height */
.accordionM .containerM.active .contentz {
height: 150px;
}

/* Changes from plus sign to negative sign once active */
.accordionM .containerM.active .labelz::before {
contentz: '-';
font-size: 18px;
}

/* Unhides the content part when active. Sets the height */
.accordionM .containerM.active .contentz {
height: 150px;
}

/* Changes from plus sign to negative sign once active */
.accordionM .containerM.active .labelz::before {
contentz: '-';
margin-top: -30px;
font-size: 20px;
}

/* Gallery Circle */

.gcont {
  /* margin-top: -130px;  */
  min-height: 40vh;
  display: grid;
  place-content: center;
  /* background: #547980; */
  overflow: hidden;
  position: relative;

}

.galleryz {
  --s: 150px; /* the image size */
  
  display: grid;
  transform-style: preserve-3d;
  animation: r 15s linear infinite;
  position: relative;
}
@keyframes r {
  0% {transform: perspective(450px) rotateX(-100deg) rotate(0deg)}
  to {transform: perspective(450px) rotateX(-100deg) rotate(-360deg)}
}

.galleryz > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transform: rotate(var(--_a)) translateY(120%) rotateX(90deg);
}
.galleryz > img:nth-child(1) {--_a: 0deg}
.galleryz > img:nth-child(2) {--_a: 60deg}
.galleryz > img:nth-child(3) {--_a: 120deg}
.galleryz > img:nth-child(4) {--_a: 180deg}
.galleryz > img:nth-child(5) {--_a: 240deg}
.galleryz > img:nth-child(6) {--_a: 300deg}

.galleryz::before {
  content: "";
  position: absolute;
  inset: -100%;
  clip-path: polygon(50% 0,calc(50% + .866*50%) 25%,calc(50% + .866*50%) 75%,50% 100%,calc(50% - .866*50%) 75%,calc(50% - .866*50%) 25%);
  background: #99B2B7;
  transform: translateZ(calc(var(--s)/2)) rotate(90deg);
}


/* Logo Glow */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5a73b8, 0 0 40px #3200e6, 0 0 50px #6b00e6, 0 0 60px #d300e6, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    header {
      margin-bottom: 200px;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  /* Logo Glow */
.gradient-background {
    background: linear-gradient(300deg, #00bfff #33161b, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.yohan {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(68, 71, 71);
  line-height: 1.2;
}
.intro {
    font-size: 25px;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(18, 20, 151);
    line-height: 1.2;
  }

  .lead {
    font-size: 1rem; /* Set a base font size */
    line-height: 1.5; /* Adjust line spacing for readability */
    max-width: 100%; /* Allow paragraph to wrap at any screen size */
  }
  
  /* Optional media queries for fine-tuning responsiveness across breakpoints: */
  @media (min-width: 768px) {
    .lead {
      font-size: 1.25rem; /* Adjust font size for larger screens (optional) */
    }
  }
  
  @media (min-width: 992px) {
    .lead {
      font-size: 1.5rem; /* Adjust font size for even larger screens (optional) */
    }
  }

  @media (max-width: 768px) {
    header {
        display: flex;
    }
    .navbar-links, .nav-btn {
        display: none;
    }

    .hero_main{
      margin: 0 auto;
      margin-left: 10px;
    }
    .Mainz{
        margin: 0 auto;
        margin-top: 200px;
        padding-top: 103px;
    }

  }
  @media screen and (min-width: 501px) {
    h3 {
      font-size: 10px;
  }
} 
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%''
    }
    50% {
        background-position: 100% 50%''
    }
    100% {
        background-position: 0% 50%''
    }
}

/* Background Gradient Contents */

